{% extends 'layout.html' %}

{% block  body %}



<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Example: Keys </h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Toliet</p>
    <small>Reason: In a rush</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Eg. Wallet</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Room Desk</p>
    <small class="text-muted">Careless.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Ear piece</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Living room</p>
    <small class="text-muted">Forget</small>
  </a>
</div>




{% endblock %}