{%  extends 'layout.html' %}

{% block body %}

  V<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
 <div class="dropdown">
  <button class="btn btn-outline-success dropdown-toggle btn-lg btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Add Item+
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <textarea></textarea>

  </div>
</div>


<style>
.dropdown{
    margin:10% 25%;
    width: 50%;
}
</style>



{%  endblock %}
