<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='homepageicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            background: url('https://cdn.discordapp.com/attachments/438152164108402688/521919388161540115/ba2d64cf55c54b97aa0d20307d6209ab.png') ;
        }
    </style>
  </head>
  <body>
    <h1>Home Page</h1>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <div class = "AC">
      <a href="/Aircon"><button type="button" class="btn btn-warning">Air-Con</button></a>
  </div>
  <div class = "Light">
      <a href="/Lighting"><button type="button" class="btn btn-warning">Lighting</button></a>
  </div>
  <div class = "CCTV">
      <a href="/CCTV"><button type="button" class="btn btn-warning" >CCTV</button></a>
  </div>
  <div class = "Track">
      <button type="button" class="btn btn-warning">Tracker</button>
  </div>
  <div class = "Remind">

  </div>
  </body>
</html>
